@import '@s/mixins/mixins';
@import '@s/common/var';

@include b(button-group) {
  display: inline-block;

  .lt-button {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-left: -1px;
    }

    @include when(active) {
      z-index: 1;
    }
  }


  @each $type in (primary, success, danger, warning, info) {
    .lt-button--#{$type} {
      &:first-child {
        border-right-color: var(--el-button-divide-border-color);
      }
      &:last-child {
        border-left-color: var(--el-button-divide-border-color);
      }
      &:not(:first-child):not(:last-child) {
        border-left: 1px solid var(--lt-button-divide-border-color);
        border-right: 1px solid var(--lt-button-divide-border-color);
      }
    }
  }
}