@import '@s/mixins/mixins';
@import '@s/common/var';

@include b(divider) {
  background-color: var(--lt-border-color-base);
  position: relative;

  @include m(horizontal) {
    display: block;
    width: 100%;
    height: 1px;
    margin: 24px 0;
  }

  @include m(vertical) {
    display: inline-block;
    height: 1em;
    width: 1px;
    margin: 0 8px;
    vertical-align: middle;
  }

  @include e(text) {
    position: absolute;
    background-color: $--color-white;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;

    @include when(left) {
      left: 20%;
      transform: translateY(-50%);
    }

    @include when(center) {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include when(right) {
      right: 20%;
      transform: translateY(-50%);
    }
  }
}