@import './config.scss';
@import './function.scss';

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

// BEM
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}


@mixin e($element) {
  $E: $element !global;
  $currentSelector: '';
  $selector: &;

  // $element 可以是一个数组，这里是数组的集合
  @each $unit in $element {
    $currentSelector: #{ $currentSelector + 
      '.' + 
      $B + 
      $element-separator + 
      $unit + 
      ','
    };
  }

  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
    
  } @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }

  
}

@mixin m($modifier) {
  $currentSelector: '';
  $selector: &;

  // $element 可以是一个数组，这里是数组的集合
  @each $unit in $modifier {
    $currentSelector: #{ $currentSelector + 
      $selector + 
      $modifier-separator + 
      $unit + 
      ','
    };
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin pseudo($pseudo) {
  @at-root #{&}#{':#{$pseudo}'} {
    @content;
  }
}
