@import "@s/common/var";
@import "@s/mixins/mixins";
@import "@s/mixins/_var";


@include b(notification) {
  @include set-component-css-var('notification', $--notification);
}

@include b(notification) {
  display: flex;
  position: fixed;
  width: var(--lt-notification-width);
  background-color: var(--lt-color-white);
  padding: var(--lt-notification-padding);
  border-radius: var(--lt-notification-radius);
  overflow: hidden;
  z-index: 9999;
  box-sizing: border-box;
  box-shadow: var(--lt-notification-shadow);
  transition: 
    opacity var(--lt-transition-duration), 
    transform var(--lt-transition-duration),
    left var(--lt-transition-duration),
    right var(--lt-transition-duration),
    top var(--lt-transition-duration),
    bottom var(--lt-transition-duration);
  
  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @each $type in ( success, info, error, warning ) {
    --lt-notification--#{$type}: var(--lt-color-#{$type});

    &.lt-notification--#{$type} {
      .lt-notification__title,
      .lt-notification__content {
        color: var(--lt-notification--#{$type});
      }
    }
  }

  @include e(group) {
    margin-left: var(--lt-notification-group-margin-left);
    margin-right: var(--lt-notification-group-margin-right);
  }

  @include e(title) {
    margin: 0;
    font-size: var(--lt-notification-title-font-size);
    color: var(--lt-notification-title-color);
    margin: 0;
  }

  @include e(content) {
    margin: 6px 0 0 0;
    font-size: var(--lt-notification-content-font-size);
    color: var(--lt-notification-content-color);
    text-align: justify;
    line-height: 24px;

    p {
      margin: 0;
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      color: var(--lt-notification-close-hover-color);
    }
  }
}

.lt-notification-fade-enter-from {
  &.left {
    left: 0;
    transform: translateX(-100%);
  }

  &.right {
    right: 0;
    transform: translateX(100%);
  }
}

.lt-notification-fade-leave-to {
  opacity: 0;
}