@use "sass:map";
@import '@s/mixins/_var.scss';
@import '@s/common/var.scss';

:root {
  --lt-color-white: #fff;
  --lt-color-primary: #409eff;
  --lt-font-weight-primary: 500;
  --lt-border-base: var(--lt-border-width-base) var(--lt-border-style-base)
  var(--lt-border-color-base);

  // lt-text-color
  @each $type in ( primary, regular, secondary, placeholder ) {
    @include set-css-var-type('text-color', $type, $--text-color);
  }

  // box-shadow
  @each $type in (base, light) {
    @include set-css-var-type('box-shadow', $type, $--box-shadow)
  }

  // border-color
  @each $type in (base, light, lighter, extra-light) {
    @include set-css-var-type('border-color', $type, $--border-color)
  }

  --lt-border-width-base: 1px;
  --lt-border-style-base: solid;

  // border-radius
  @each $size in (base, small, round, circle) {
    @include set-css-var-type('border-radius', $size, $--border-radius)
  }

  // font-size
  @each $type in (extra-large, large, medium, base, small, extra-small) {
    @include set-css-var-type('font-size', $type, $--font-size)
  }

  // 基础颜色
  @each $type in (success, danger, info, warning, error) {
    @include set-css-color-type($type)
  }

  --lt-background-color-base: #{$--background-color-base};

  // transition
  --lt-transition-duration: #{map.get($--transition-duration, 'default')};
  --lt-transition-duration-fast: #{map.get($--transition-duration, 'fast')};

  // disabled
  --lt-disabled-fill-base: var(--lt-background-color-base);
  --lt-disabled-color-base: var(--lt-text-color-placeholder);
  --lt-disabled-border-base: var(--lt-border-color-light);


  @include set-component-css-var('transition-function', $--transition-function);
  @include set-component-css-var('transition', $--transition)
}