@import './var.scss';

.lt-zoom-in-center-enter-active,
.lt-zoom-in-center-leave-active {
  transition: all var(--lt-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.lt-zoom-in-center-enter-from,
.lt-zoom-in-center-leave-active {
  opacity: 0;
  // transform: scaleX(0);
}


// collapse-transition
.collapse-transition {
  transition: var(--lt-transition-duration) height ease-in-out,
    var(--lt-transition-duration) padding-top ease-in-out,
    var(--lt-transition-duration) padding-bottom ease-in-out;
}


.lt-fade-in-enter-active,
.lt-fade-in-leave-active {
  transition: all var(--lt-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.lt-fade-in-enter-from, 
.lt-fade-in-leave-active {
  opacity: 0;
}