@use "sass:map";
@use "sass:math";
@import '../mixins/config.scss';

$--types: primary, success, warning, danger, info, error;

// 基础样式
// color
$--colors: () !default;
$--colors: map.deep-merge(
  (
    'white': #fff,
    'black': #000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $--colors
);

$--color-white: map.get($--colors, 'white') !default;


// 处理带light的颜色样式
@mixin set-color-type-light($type, $number) {
  $--colors: map.deep-merge(
    (
      $type: (
        'light-#{$number}':
          mix(
            $--color-white,
            map.get($--colors, $type, 'base'),
            math.percentage(math.div($number, 10))
          ),
      ),
    ),
    $--colors
  ) !global
}

$--background-color-base: #f5f7fa !default;

$--radio-bordered-padding: () !default;
$--radio-bordered-padding: map.merge(
  (
    'default': 12px 20px 0 10px,
    'medium': 10px 20px 0 10px,
    'small': 8px 15px 0 10px,
    'mini': 6px 15px 0 10px,
  ),
  $--radio-bordered-padding
);

$--radio-bordered-input-height: () !default;
$--radio-bordered-input-height: map.merge(
  (
    'medium': 14px,
    'small': 12px,
    'mini': 12px,
  ),
  $--radio-bordered-input-height
);

$--radio-bordered-input-width: () !default;
$--radio-bordered-input-width: map.merge(
  (
    'medium': 14px,
    'small': 12px,
    'mini': 12px,
  ),
  $--radio-bordered-input-width
);

$--radio-bordered-height: () !default;
$--radio-bordered-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--radio-bordered-height
);

$--radio-button: () !default;
$--radio-button: map.merge(
  (
    'checked-background-color': var(--el-color-primary),
    'checked-font-color': var(--el-color-white),
    'checked-border-color': var(--el-color-primary),
    'disabled-checked-fill': var(--el-border-color-extra-light),
  ),
  $--radio-button
);

@for $i from 1 through 9 {
  @each $type in $--types {
    @include set-color-type-light($type, $i);
  }
}

$--color-primary: map.get($--colors, 'primary', 'base');

$--border-color: () !default;
$--border-color: map.merge(
  (
    'base': #dcdfe6,
    'light': #e4e7ed,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
  ),
  $--border-color
);

$--border-color-hover: var(--lt-text-color-placeholder) !default;

$--font-size: () !default;
$--font-size: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  ),
  $--font-size
);

$--input-height: () !default;
$--input-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--input-height
);

$--text-color: () !default;

$--text-color: map.merge(
  (
    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #c0c4cc,
  ),
  $--text-color
);

$--box-shadow: () !default;
$--box-shadow: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'light': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
  ),
  $--box-shadow
);

$--border-width-base: 1px;
$--border-style-base: solid;
$--border-base: $--border-width-base $--border-style-base map.get($--border-color, 'base') !default;

$--border-radius: () !default;
$--border-radius: map.merge(
  (
    'base': 4px,
    "small": 2px,
    'round': 20px,
    'circle': 100%
  ),
  $--border-radius
);


// button
$--button: () !default;
$--button: map.merge(
  (
    'background-color': var(--el-color-white),
    'font-color': var(--lt-text-color-regular),
    'border-color': var(--lt-border-color-base),
    'font-weight': var(--lt-font-weight-primary),
  ),
  $--button
);

$--button-font-color: () !default;
$--button-background-color: () !default;
$--button-border-color: () !default;


@each $type in $--types {
  $--button-font-color: map.merge(
    (
      $type: map.get($--colors, 'white'),
    ),
    $--button-font-color
  );

  $--button-background-color: map.merge(
    (
      $type: map.get($--colors, $type, 'base'),
    ),
    $--button-background-color
  );

  $--button-border-color: map.merge(
    (
      $type: map.get($--colors, $type, 'base')
    ),
    $--button-border-color
  )
}

$--button-border-radius: () !default;
$--button-border-radius: map.merge(
  (
    'default': var(--lt-border-radius-base),
    'medium': var(--lt-border-radius-base),
    'small': calc(var(--lt-border-radius-base) - 1px),
    'mini': calc(var(--lt-border-radius-base) - 1px),
  ),
  $--button-border-radius
);

// 水平方向
$--button-padding-vertical: () !default;
$--button-padding-vertical: map.merge(
  (
    'default': 12px,
    'medium': 10px,
    'small': 9px,
    'mini': 7px,
  ),
  $--button-padding-vertical
);

// 垂直方向
$--button-padding-horizational: () !default;
$--button-padding-horizational: map.merge(
  (
    'default': 20px,
    'medium': 20px,
    'small': 15px,
    'mini': 15px,
  ),
  $--button-padding-horizational
);

// 字体大小
$--button-font-size: () !default;
$--button-font-size: map.merge(
  (
    'default': var(--el-font-size-base, map.get($--font-size, 'base')),
    'medium': var(--el-font-size-base, map.get($--font-size, 'base')),
    'small': 12px,
    'mini': 12px,
  ),
  $--button-font-size
);

// radius
$--button-border-radius: () !default;
$--button-border-radius: map.merge(
  (

  ),
  $--button-border-radius
);

// card
$--card: () !default;
$--card: map.merge(
  (
    'border-color': var(--el-border-color-light, map.get($--border-color, 'lighter')),
    'border-radius': 4px,
    'padding': 20px,
  ),
  $--card
);

// result
$--result: () !default;
$--result: map.merge(
  (
    "padding": 40px 30px,
    "icon-font-size": 64px,
    "title-font-size": 20px,
    "title-margin-top": 20px,
    "subtitle-margin-top": 10px,
    "extra-margin-top": 30px
  ),
  $--result
);

// tag
$--tag: () !default;
$--tag: map.merge(
  (
    "font-size": 12px,
    "border-radius": 4px,
    "padding": 0 10px
  ),
  $--tag
);

$--tag-color: () !default;

@each $type in $--types {
  $--tag-color: map.merge(
    (
      $type: map.get($--colors, $type, 'base')
    ),
    $--tag-color
  );
};

// switch
$--switch: () !default;
$--switch: map.merge(
  (
    'on-color': var(--lt-color-primary),
    'off-color': var(--lt-border-color-base),
    'font-size': var(--lt-font-size-base),
    'core-border-radius': 10px,
    'width': 40px,
    'height': 20px,
    'button-size': 16px,
  ),
  $--switch
);

//  message
$--message: () !default;
$--message: map.merge(
  (
    'min-width': 380px,
    'background-color': #edf2fc,
    'padding': 15px 15px 15px 20px,
    'close-size': 16px,
    'close-icon-color': var(--lt-text-color-placeholder),
    'close-hover-color': var(--lt-text-color-secondary),
  ),
  $--message
);

// message-box
$--message-box: () !default;
$--message-box: map.merge(
  (
    'title-color': var(--el-text-color-primary),
    'width': 420px,
    'border-radius': 4px,
    'font-size': var(--el-font-size-large),
    'content-font-size': var(--el-font-size-base),
    'content-color': var(--el-text-color-regular),
    'error-font-size': 12px,
    'padding-primary': 15px,
  ),
  $--message-box
);

// link
$--link: () !default;
$--link: map.merge(
  (
    'font-size': var(--lt-font-size-base),
    'font-weight': var(--lt-font-weight-primary),
    'default-font-color': var(--lt-text-color-regular),
    'default-active-color': var(--lt-color-primary),
    'disabled-font-color': var(--lt-text-color-placeholder),
  ),
  $--link
);

// alert
$--alert: () !default;
$--alert: map.merge(
  (
    'padding': 8px 16px,
    'border-radius-base': var(--lt-border-radius-base),
    'title-font-size': 13px,
    'description-font-size': 12px,
    'close-font-size': 12px,
    'close-customed-font-size': 13px,
    'icon-size': 16px,
    'icon-large-size': 28px,
  ),
  $--alert
);

// notification
$--notification: () !default;

$--notification: map.merge(
  (
    'width': 330px,
    'padding': 14px 26px 14px 13px,
    'radius': 8px,
    'shadow': var(--lt-box-shadow-light),
    'border-color': var(--lt-border-color-lighter),
    'icon-size': 24px,
    'close-font-size':
      var(--lt-message-close-size, map.get($--message, 'close-size')),
    'group-margin-left': 13px,
    'group-margin-right': 8px,
    'content-font-size': var(--lt-font-size-base),
    'content-color': var(--lt-text-color-regular),
    'title-font-size': 16px,
    'title-color': var(--lt-text-color-primary),
    'close-color': var(--lt-text-color-secondary),
    'close-hover-color': var(--lt-text-color-regular),
  ),
  $--notification
);
// header
$--header: () !default;
$--header: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $--header
);

// main
$--main: () !default;
$--main: map.merge(
  (
    "padding": 20px
  ),
  $--main
);

// footer
$--footer: () !default;
$--footer: map.merge(
  (
    'padding': 0 20px,
    'height': 60px,
  ),
  $--footer
);

// dialog
$--dialog: () !default;
$--dialog: map.merge(
  (
    'background-color': var(--lt-color-white),
    'box-shadow': 0 1px 3px rgba(0, 0, 0, 0.3),
    'title-font-size': var(--lt-font-size-large),
    'content-font-size': 14px,
    'font-line-height': var(--lt-font-line-height-primary),
    'padding-primary': 20px,
  ),
  $--dialog
);

// drawer
$--drawer: () !default;

$--drawer: map.merge(
  (
    'background-color':  var(--lt-color-white),
    'padding-primary': 20px
  ),
  $--drawer
);

// badge
$--badge: () !default;

$--badge: map.merge(
  (
    'background-color': var(--el-color-danger),
    'radius': 10px,
    'font-size': 12px,
    'padding': 6px,
    'size': 18px,
  ),
  $--badge
);

// collapse
$--collapse: () !default;

$--collapse: map.merge(
  (
    'border-color': var(--lt-border-color-lighter),
    'header-height': 48px,
    'header-background-color': var(--lt-color-white),
    'header-font-color': var(--lt-text-color-primary),
    'header-font-size': 13px,
    'content-background-color': var(--lt-color-white),
    'content-font-size': 13px,
    'content-font-color': var(--lt-text-color-primary),
  ),
  $--collapse
);

$--empty: () !default;
$--empty: map.merge(
  (
    'padding': 40px 0,
    'image-width': 160px,
    'description-margin-top': 20px,
    'bottom-margin-top': 20px,
  ),
  $--empty
);

$--radio: () !default;
$--radio: map.merge(
  (
    'font-size': var(--lt-font-size-base),
    'font-color': var(--lt-text-color-regular),
    'font-weight': var(--lt-font-weight-primary),
    'input-height': 14px,
    'input-width': 14px,
    'input-border-radius': var(--lt-border-radius-circle),
    'input-background-color': var(--lt-color-white),
    'input-border': var(--lt-border-base),
    'input-border-color': var(--lt-border-color-base),
  ),
  $--radio
);

$--radio-checked: () !default;
$--radio-checked: map.merge(
  (
    'font-color': var(--lt-color-primary),
    'input-border-color': var(--lt-color-primary),
    'icon-color': var(--lt-color-primary),
  ),
  $--radio-checked
);

$--radio-button: () !default;
$--radio-button: map.merge(
  (
    'checked-background-color': var(--lt-color-primary),
    'checked-font-color': var(--lt-color-white),
    'checked-border-color': var(--lt-color-primary),
    'disabled-checked-fill': var(--lt-border-color-extra-light),
  ),
  $--radio-button
);

$--radio-disabled: () !default;
$--radio-disabled: map.merge(
  (
    'input-border-color': var(--lt-disabled-border-base),
    'input-fill': var(--lt-disabled-fill-base),
    'icon-color': var(--lt-disabled-fill-base),
    'checked-input-border-color': var(--lt-disabled-border-base),
    'checked-input-fill': var(--lt-disabled-fill-base),
    'checked-icon-color': var(--lt-text-color-placeholder),
  ),
  $--radio-disabled
);

// checkbox样式处理
$--checkbox: () !default;
$--checkbox: map.merge(
  (
    'font-size': 14px,
    'font-weight': var(--lt-font-weight-primary),
    'font-color': var(--lt-text-color-regular),
    'input-height': 14px,
    'input-width': 14px,
    'border-radius': var(--lt-border-radius-small),
    'background-color': var(--lt-color-white),
    'input-border': var(--lt-border-base),
    'disabled-border-color': var(--lt-border-color-base),
    'disabled-input-fill': #edf2fc,
    'disabled-icon-color': var(--lt-text-color-placeholder),
    'disabled-checked-input-fill': var(--lt-border-color-extra-light),
    'disabled-checked-input-border-color': var(--lt-border-color-base),
    'disabled-checked-icon-color': var(--lt-text-color-placeholder),
    'checked-font-color': var(--lt-color-primary),
    'checked-input-border-color': var(--lt-color-primary),
    'checked-background-color': var(--lt-color-primary),
    'checked-icon-color': var(--lt-fill-base),
    'input-border-color-hover': var(--lt-color-primary),
  ),
  $--checkbox
);

$--disabled-fill-base: var(--lt-background-color-base) !default;
$--disabled-color-base: var(--lt-text-color-placeholder) !default;
$--disabled-border-base: var(--lt-border-color-light) !default;


$--link-font-color: () !default;

@each $type in $--types {
  $--link-font-color: map.merge(
  (
    $type: map.get($--colors, $type, 'base')
  ),
  $--link-font-color
  );
}

// transition
$--transition: () !default;
$--transition: map.merge(
  (
    'all': all var(--el-transition-duration)
      var(--el-transition-function-ease-in-out-bezier),
    'fade': opacity var(--el-transition-duration)
      var(--el-transition-function-fast-bezier),
    'md-fade': (
      transform var(--el-transition-duration)
        var(--el-transition-function-fast-bezier),
      opacity var(--el-transition-duration)
        var(--el-transition-function-fast-bezier),
    ),
    'fade-linear': opacity var(--el-transition-duration-fast) linear,
    'border': border-color var(--el-transition-duration-fast)
      var(--el-transition-function-ease-in-out-bezier),
    'color': color var(--el-transition-duration-fast)
      var(--el-transition-function-ease-in-out-bezier),
  ),
  $--transition
);

// transition
$--transition-duration: () !default;
$--transition-duration: map.merge(
  (
    'default': 0.3s,
    'fast': 0.2s,
  ),
  $--transition-duration
);

$--transition-function: () !default;
$--transition-function: map.merge(
  (
    'ease-in-out-bezier': cubic-bezier(0.645, 0.045, 0.355, 1),
    'fast-bezier': cubic-bezier(0.23, 1, 0.32, 1),
  ),
  $--transition-function
);

// backtop
$--backtop: () !default;

$--backtop: map.merge(
  (
    'background-color': var(--lt-color-white),
    'font-color': var(--lt-color-primary),
    'hover-background-color': var(--lt-border-color-extra-light),
  ),
  $--backtop
);

$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;


/* Rate
--------------------------*/
$--rate: () !default;
$--rate: map.merge(
  (
    'height': 20px,
    'font-size': var(--lt-font-size-base),
    'icon-size': 18px,
    'icon-margin': 6px,
    'icon-color': var(--lt-text-color-placeholder),
  ),
  $--rate
);


// loading
$--loading: () !default;
$--loading: map.merge(
  (
    'spinner-size': 42px,
    'fullscreen-spinner-size': 50px,
  ),
  $--loading
);


// input
$--input: () !default;

$--input: map.merge(
  (
    'font-color': var(--lt-text-color-regular),
    'border': var(--lt-border-base),
    'border-color': var(--lt-border-color-base),
    'border-radius': var(--lt-border-radius-base),
    'icon-color': var(--lt-text-color-placeholder),
    'background-color': var(--lt-color-white),
    'placeholder-color': var(--lt-text-color-placeholder),
    'hover-border': var(--lt-border-color-hover),
    'clear-hover-color': var(--lt-text-color-secondary),
    'focus-border': var(--lt-color-primary),
  ),
  $--input
);

$--input-disabled: () !default;
$--input-disabled: map.merge(
  (
    'fill': var(--lt-disabled-fill-base),
    'border': var(--lt-disabled-border-base),
    'color': var(--lt-disabled-color-base),
    'placeholder-color': var(--lt-text-color-placeholder),
  ),
  $--input-disabled
);

$--input-font-size: () !default;
$--input-font-size: map.merge(
  (
    'default': var(--lt-font-size-base, map.get($--font-size, 'base')),
    'medium': 14px,
    'small': 13px,
    'mini': 12px,
  ),
  $--input-font-size
);

$--input-height: () !default;
$--input-height: map.merge(
  (
    'default': 40px,
    'medium': 36px,
    'small': 32px,
    'mini': 28px,
  ),
  $--input-height
);

$--input-line-height: () !default;
$--input-line-height: map.merge(
  (
    'medium': 28px,
    'small': 24px,
    'mini': 20px,
  ),
  $--input-line-height
);

$--input-number-width: () !default;
$--input-number-width: map.merge(
  (
    'medium': 200px,
    'small': 130px,
    'mini': 130px,
  ),
  $--input-number-width
);